@use 'sass:math';
@use 'sass:string';

.contact {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 135px);
  min-height: 50vh;
  padding-block: 10vh;
  margin-left: 135px;
  padding-inline: clamp(3rem, 4vw, 5rem);
  gap: 2rem;
}

.text-container {
  width: 100%;
}

.heading {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: clamp(2rem, 5vw, 7rem);
  line-height: 0.8em;
}

.heading > span {
  transition: color 400ms ease-out;
}

.heading > span:hover {
  color: var(--clr-green);
}

.subheading {
  color: var(--clr-text-secondary);
  font-size: clamp(0.6rem, 1.3vw, 3rem);
  width: 100%;
  padding-block: 0.5em;
  transition: color 0.5s ease-out;
}

.subheading > a {
  color: var(--clr-green);
}

.subheading > a:hover,
.subheading > a:focus {
  opacity: 0.6;
}

.contact-btn {
  color: var(--clr-text-primary);
  text-transform: uppercase;
  background: var(--clr-bg-light);
  border: 0.2em solid var(--clr-green);
  padding: 0.5em 1.25em;
  transition: all 300ms ease-out;
  margin-top: 2em;
  border-radius: 0.2em;
  font-size: clamp(0.6rem, 1.3vw, 3rem);
}

.contact-btn:hover {
  background: var(--clr-green);
}

.contact-form {
  width: 100%;
}

.green-text {
  color: var(--clr-green);
}

@media (max-width: 81rem) {
  .contact {
    width: 100%;
    margin: 0;
    padding-inline: clamp(2em, 10vw, 5em);
  }
}

@media (min-width: 800px) {
  .contact {
    padding-inline: 2em;
    flex-direction: row;
  }
}
